@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denegado";
}
<div class="container">
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tiene los permisos para acceder.</p>
</header>
</div>