
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SistemaInventario.Modelos.Marca>



<div class="row">
    <div class="col-lg-12 text-lg-center">
        <h2 class="text-dark">Lista de marcas</h2>
    </div>

    <div class="col-lg-12 text-lg-end">
        <a class="btn btn-primary" asp-action="Upsert" role="button"> <i class="bi bi-plus-square"></i> Crear nueva marca</a>
    </div>
</div>



<br />

<div class="p-4 border rounded bg-gradient">
    <table id="tabla" class="table table-responsive table-hover" cellspacing="0" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                @* agregar columna, que es en Data Id, no se ve van los iconos *@
                <th></th>
            </tr>
        </thead>

        @foreach(var marca in Model)
        {
            <tr>
                <td>@marca.Nombre</td>
                <td>@marca.Descripcion</td>
                <td>@(marca.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <div class="text-center">
                        <a href="/Admin/Marca/Upsert/@marca.Id" class="btn btn-success text-white">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="/Admin/Marca/Delete/@marca.Id" class="btn btn-danger text-white">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }


    </table>
    
</div>

